@using EntityLayer.Concrete
@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h1>Hizmetlerim Güncelleme</h1>
        @using (Html.BeginForm("EditService", "Service", FormMethod.Post))
        {

            @Html.HiddenFor(p=>p.ServicesID)
            <label>Hizmet Adı</label>
            @Html.TextBoxFor(p=>p.Title,new{@class="form-control",@required="required"})
            <label>Hizmet Resim</label>
            @Html.TextBoxFor(p=>p.ImageURL,new{@class="form-control",@required="required"})
            <br />
            <span><button class="btn btn-info">Güncelle</button></span>
            <br />
        }
    </div>
</div>