@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<br />
<div class="container-fluid">
<label>Başlık</label>
<input type="text" class="form-control" name="Title" value="@Model.Subject" />
<label>Gönderici Adı</label>
<input type="text" class="form-control" name="Title" value="@Model.SenderName" />
<label>Gönderici Mail</label>
<input type="text" class="form-control" name="Title" value="@Model.Sender" />
<label>İçerik</label>
@Html.TextAreaFor(p=>p.MessageContent,5,5,new {@class="form-control"})
</div>

